[2020-06-23 13:27] r8420 opened #1 "Region border overlay shows border at incorrect Z-axis (mod compatibility issue with other mod)"
In modpacks like Valhelsia 2, the X-axis is correct, but Z-axis region border is displaced by 1 chunk.

[2020-08-03 09:33] Gbergz opened #2 "[1.16.1] Light Level overlay can be seen through blocks, walls."
Title^

**Minecraft:** 1.16.1
**Forge:** 32.0.88
**Mod-Version:** 1.18.0

Screenshot Example:
![image](https://user-images.githubusercontent.com/26634554/89168267-e56cdf80-d57c-11ea-86ed-be4970f46128.png)

**-** Gbergz

[2020-08-04 22:39] r8420 commented on #2
This has been fixed in version 1.18.1

[2020-08-05 23:28] #1 closed

[2020-08-12 13:51] Bass2style commented on #2
sorry to reopen a closed report, but it's also happening on the 1.15 version of the mod, should we see this fixed in 1.15 also please ?

[2020-08-13 09:56] r8420 commented on #2
Will be fixed in the More Overlays version 1.17.4

[2020-08-13 10:12] Bass2style commented on #2
thank you for your quick support.

[2020-08-13 11:58] r8420 commented on #2
Can you check if the problem is solved in version 1.17.4?
Link: https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3031100

[2020-08-14 07:11] Bass2style commented on #2
still not fixed, it's different, but now it's showing above eveything, you can see the overlay over leaves, and you can see on the mutton on my screenshot that it's also affecting mobs now. xD

https://i.imgur.com/pWeamuK.png

edit : you can also still see the overlay through blocks :

https://i.imgur.com/VviO7N1.png
https://i.imgur.com/z9zhz3O.png

[2020-08-14 10:37] r8420 commented on #2
Can you tell me which modpack you're playing on? (or a list of the mods if you're not using a modpack)

[2020-08-14 12:53] Bass2style commented on #2
i use a custom modpack, you can find my modlist here : https://pastebin.com/gaJnZkpV

[2020-08-14 17:45] r8420 commented on #2
Thanks, but what is the modpack called and where can I download it. I need to replicate the issue

[2020-08-14 21:40] Bass2style commented on #2
it's not availlable on CurseForge or other, but i can export it and give you the instance to import.

edit : i noticed something strange, i think that GDL made something weird, my mod whasn't updated, i still have 1.17.3 installed, soooo, it seems logic that's not fixed, if the mod is not updated. i updated the jar in my instance now, i'm testing later, it's 2AM here, so i'm going to sleep. xD edi

[2020-08-15 22:39] r8420 commented on #2
Great, I will close this issue again then. Let me know if you find any other strange issues with the mod.

[2020-08-15 22:39] #2 closed

[2020-10-05 03:00] Subratrix opened #4 "Lighting feature not working (F7 key)"
I see a lot of others are having issues with the lighting overlay enabled by the F7 key, I'm having that issue as well. I'm using Forge for Minecraft 1.16.3 version 34.0.9 and using More Overlays Updated version 1.18.8 (the Alpha version for Minecraft 1.16.3). The only other mods I am currently using are AppleSkin (shows hunger saturation and what saturation food gives you), VoxelMap, OptiFine, an

[2020-10-10 19:18] Gbergz commented on #4
Can confirm, not working on **1.16.3** Forge version **34.1.14**
Mod version: **moreoverlays-1.18.8-mc1.16.3.jar**

[2020-10-13 16:34] r8420 commented on #4
I'm not able to replicate this issue. There was another person who had problems with the mod for 1.16.3 and I tried using the exact same mods, same mod versions, same forge version, same Minecraft version and even the same java version as him, but I was not able te replicate the problem.
I also tried it on 2 different PC's with a clean Minecraft and Forge installation but still no success. Are you

[2020-10-13 16:57] Gbergz commented on #4
Problem went away when using the modfile ``moreoverlays-1.18.9_PREVIEW_1-mc1.16.3.jar``
It now shows the lightlevel overlay again.

[2020-10-13 19:10] r8420 commented on #4
That's great! Fixed an issue without even being able to replicate the issue, that doesn't happen everyday. I've uploaded the file to CurseForge: https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3079188. @Subratrix Please reopen this issue if you're still having this problem.

[2020-10-13 23:41] Greg-21 commented on #4
I have the same issue, and version 1.18.9 of this mod still hasn't fixed it. For comparison, the chunk boundary overlay works almost correctly (the only issue I noticed are clouds rendering in front of the overlay).

[2020-10-24 07:15] dasurica opened #5 "Issue with the OpenCubicChunks"
When i enter the 3rd type of overlay, hunger dissapears and when i enter the Nether Portal the animations are canceled. Those bugs dont occur while OpenCubicChunks is hidden. [Here is a video](https://youtu.be/s0SyOYLt-TE)

[2020-10-29 19:21] drakray opened #6 "[COS] Crash on Dedicated Server"
[code]

https://pastebin.com/6rQzxJe3

[2020-10-29 19:22] drakray commented on #6
MC 1.16.3
Forge 34.1.25
MoreOverlays 1.18.9_PREVIEW_1-mc1.16.3

[2020-10-31 14:06] taj1994 commented on #4
I'm having the same issue. I'm using 1.18.9 (the version that supposedly fixed it) and Forge 34.1.35, and the light level overlay doesn't work while connected to a server, but chunk borders work just fine. The behaviour is the same whether or not I'm using any other mods

It also doesn't seem matter whether it's a vanilla server or not. If it's a server, it doesn't work. If it's single-player, it

[2020-10-31 14:20] Greg-21 commented on #4
For me, the light level overlay doesn't work in singleplayer either.

[2020-10-31 14:20] Greg-21 commented on #4
For me, the light level overlay doesn't work in singleplayer either :/

[2020-11-01 00:34] r8420 commented on #6
The mod is client-side only and doesn't have to be on the server.

[2020-11-01 00:36] drakray commented on #6
If it is not installed on the server, but on the client, the server list show the big red X, saying "Incompatible FML modded server[lf]Server mod list not compatible"
The client can connect to it though

[2020-11-01 19:58] r8420 commented on #4
I'm able to replicate the problem and trying to fix it. It's a really strange issue. I'll keep you guys notified about the progress.

[2020-11-01 22:14] r8420 commented on #5
Thanks for reporting the issue. This will be fixed in the next release of the mod.

[2020-11-02 00:37] r8420 commented on #6
Should be fixed in version 1.18.10: [https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3099374](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3099374)

[2020-11-02 00:38] r8420 commented on #5
It should be fixed in version 1.18.10: https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3099374

[2020-11-02 00:38] #5 closed

[2020-11-02 00:41] r8420 commented on #4
Just released a new version with bugfixes: [https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3099374](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3099374) It should work again on servers.

[2020-11-03 03:35] taj1994 commented on #4
1.18.10 works perfectly for me

[2020-11-03 07:08] Subratrix commented on #4
1.18.10 works great for me as well! Thank you so much!

[2020-11-04 09:25] #4 closed

[2020-11-04 22:14] r8420 opened #7 "[All Versions] Light overlay causes lag when enabled in water"
![2020-11-04_23 08 15](https://user-images.githubusercontent.com/26418513/98173497-80b27f80-1ef3-11eb-91ff-8f496d254163.png)

[2020-11-15 18:04] r8420 opened #8 "[1.16+] Overlays not working with Fabulous! graphics option"
When Fabulous! graphics are enabled the overlays will not show at all (both light overlay and chuck border overlay)

[2020-11-24 22:27] MelanX opened #9 "Lags with Chisels and Bits"
If you run 1.16.3 or 1.16.4 with Chisels and Bits and MoreOverlays and press F7 it laggs a lot if you’re looking at a building made with CaB.
If you need any versions, latest should still have the problem.
I think it happens because MoreOverlays tries to render a cross on each block but a chisels and Bits block has 256 blocks instead of just one, but I'm not sure.

[2020-12-05 15:17] caffeineggs opened #10 "[1.16] 3rd person self camera issue"
When using f5 self camera mode, both light and chunk overlays follow the players camera
![2020-12-05_18 16 20](https://user-images.githubusercontent.com/61048648/101246719-1f661200-3726-11eb-9f53-46438bf52657.png)
![2020-12-05_18 16 24](https://user-images.githubusercontent.com/61048648/101246721-1ffea880-3726-11eb-847a-5d7aa4ea5246.png)
![2020-12-05_18 16 32](https://user-images.githubusercontent

[2021-01-17 22:05] #7 closed

[2021-01-17 22:29] #10 closed

[2021-01-18 00:26] r8420 commented on #9
Can you try the newest version? https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3172013

[2021-01-29 07:57] Brittank88 opened #13 "[Feature Request] Numbered Light Level Overlay"
Currently, I'd have to install [Light Overlay](https://www.curseforge.com/minecraft/mc-mods/light-overlay) to have this functionality, which seems redundant and wasteful considering this mod already has the capability to show light levels, just not as numbers.

[2021-03-19 19:58] PieterVMB opened #15 "Bug 1.16.5+ Showing Light Overlays disables bobbing."
Version 1.18.12&13 stop bobbing happening when enabling light overlays.

[2021-04-16 14:30] r8420 commented on #15
This was done intentionally and should only happen when Optifine is installed. I have done this because of a compatibility issue with Optifine. I hope to find a better solution for this in the future.

[2021-08-30 14:53] floogal opened #17 "[1.17.1] JEI Item Search not working"
JEI 1.17.1-8.0.0.14
More Overlays 1.19.2-mc1.17.1

This is on a vanilla server, but I was under the belief this was meant to work client side.

I'm typing part of an item name (let's say Iron) into JEI's search bar, double clicking annnd, nothing

Chunk Boundaries and Light Level overlays work fine.

I've tried removing my resource pack too since it edits the inventory GUI, no effect

[2021-09-11 19:46] BlueAmulet opened #18 "[Feature Request] Config option to disable JEI Search Item Highlight feature"
Me and a few of my friends are having issues where when using JEI the search feature keeps unintentionally enabling itself and it would be nice if there was an option to disable the search feature entirely.

[2021-09-12 11:53] r8420 commented on #17
Correct, I released 1.19.2 before JEI for 1.17.1 was released so that's why the the search functionality is not implemented yet. The next version of More Overlays for 1.17 will have a working JEI item search.

[2021-09-12 11:57] r8420 commented on #18
Good idea. I'll implement it in the next few weeks. For now you'll have to double click the search bar to disable the search.

[2021-09-18 00:14] r8420 commented on #17
Just released version 1.19.3 and it should work again

[2021-09-18 00:14] #17 closed

[2021-09-18 00:23] #9 closed

[2021-09-18 05:38] MelanX commented on #9
Oh, sorry! I never got a notification for that, or I missed it!

[2021-11-17 16:29] Shedao-Shai opened #20 "[1.17.1] Overlay's do not render on the fabulous graphics setting"
Mod version: 1.19.3
Forge version: 37.0.104

When the graphics setting is set to "Fabulous" neither chunk boundaries nor light overlays render.

[2021-12-05 18:21] r8420 opened #21 "[1.18] Region borders don't show below y0"

[2021-12-05 18:27] r8420 commented on #20
Same issue as #8

[2021-12-05 18:27] #20 closed

[2021-12-07 22:47] r8420 commented on #21
Fixed in release 1.20.3

[2021-12-07 22:47] #21 closed

[2021-12-09 16:59] r8420 commented on #15
Fixed

[2021-12-09 16:59] #15 closed

[2021-12-16 07:06] NightOps007 commented on #13
Seconded! Doing the same thing here. Have both overlay mods installed, but currently have this one's light overlay hotkey disabled. Really hoping for this feature in the future so I can toss the other mod.
This mod also seems to work better with optifine too which causes issues with the light overlay mod. Which they've already said they won't fix. Just another reason to toss it.
Edit: Just discove

[2021-12-24 16:38] Shedao-Shai opened #22 "Visual item glitch when overlays are on"
Mod version 1.20.4-1.18
Forge 39.0.5

When light and/or chunk boundary overlays are turned on, the item held in both hands passes through surrounding blocks when the player is near, and an odd texture glitch occurs where certain "bits" are displaced. Not critical by any means, just a rather odd visual bug that I have no clear explanation for.
![2021-12-24_10 37 36](https://user-images.githubuserco

[2021-12-27 00:35] ghost commented on #13
@NightOps007 Just so you know, they might have said they won't fix the issue with Optifine because fixing Optifine-related issues seemingly is a major PITA and sometimes isn't even possible due to the nature of Optifine's game modifications.

Torch Optimizer looks cool, thanks for adding that in as an edit!

[2022-02-06 19:49] r8420 commented on #22
Fixed in [1.18.1] MoreOverlays 1.20.5

[2022-02-06 19:49] #22 closed

[2022-02-06 19:51] r8420 commented on #8
Fixed in:
[1.18.1] MoreOverlays 1.20.5
and
[1.16.5] MoreOverlays 1.18.18

[2022-02-06 19:51] #8 closed

[2022-03-02 12:11] JoeSmurf98 opened #25 "Spawn Radius"
Hi,

Would it be possible to implement a spawn radius overlay similar to that in MiniHud?
I use forge for all of my client side mods and love More Overlays. It would be nice to see this feature added in.

[2022-03-29 21:26] NightSharp opened #26 "Undo and Reset buttons are incorrectly displayed when using forced unicode fonts"
MC-1.18.2-Forge-40.0.32
Configured-1.5.3
MoreOverlays_updated-1.20.5

The Game says the Config Screen is Broken, like this
![屏幕截图 2022-03-30 052046](https://user-images.githubusercontent.com/9748063/160709778-6ffdff83-64b0-4236-9c00-3dde519390b9.png)

The whole screen is like this
![2022-03-30_05 26 40](https://user-images.githubusercontent.com/9748063/160710095-98f86bd6-e259-4c39-ba60-6e54807988c

[2022-04-19 13:31] r8420 commented on #26
This mod doesn't use the Configured mod and has it's own implementation of a config screen. The code is very outdated and needs to be rewritten, that will take some time.

[2022-06-16 07:52] drakray opened #27 "[1.18.2] Updating JEI past 196 causes crash on worldLoading"
https://pastebin.com/9zJZWf3j
<details>
  <summary>Crash excerpt</summary>

[code]

</details>

Minecraft 1.18.2
Forge 1.18.2-40.1.51
More Overlays Updated 1.20.5-1.18.2
JEI 10.1.0.202, also with 10.1.0.200
buncha other mods

[2022-06-16 14:51] ProsperCraft commented on #27
I didn't crash on world load on multiplayer server but my client did exit entirely with no crash on opening my inventory.

https://gist.githubusercontent.com/ProsperCraft/9e094139af80ab7efc127666be71794e/raw/ba586cdeda1c1ec09d8e2521844f048380fb974c/gistfile1.txt

[2022-06-16 16:59] #27 closed

[2022-06-16 17:01] r8420 commented on #27
Fixed in MoreOverlays 1.20.6.
Download [here](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/all?filter-status=1&filter-game-version=2020709689%3A9008)

[2022-06-23 18:45] MeLikeFish opened #29 "[FEATURE REQUEST] Adding different color settings to JEI item search overlay"
Maybe add a setting that you can change the color of the JEI items search? As some people use mods and resource packs that set all GUIU to dark mode and the graying doesn't help. Maybe add a setting in the config to set the color of the overlay? Thanks

[2022-07-02 19:07] Aerospacesmith opened #30 "[1.18.2] Crash on world load with JEI 9.7.0.209"
https://pastebin.com/f0EuUvyV

<details>
  <summary>Crash excerpt</summary>

[code]
</details>

Minecraft 1.18.2
Forge 1.18.2-40.1.54
More Overlays Updated 1.20.6-1.18.2
JEI 9.7.0.209
several other mods

[2022-07-06 03:17] Sakatsuky commented on #30
i don't insta crash, but when i open the inventory it crashes, i'm using the 1.20.5 version and so far everything is working fine

[2022-07-08 01:17] isaaclepes commented on #30
I am experiencing this issue, also.
MOU: 1.20.6
Forge 1.18.2-40.1.54.
JEI: jei-1.18.2-9.7.0.196

https://gist.github.com/isaaclepes/833c53d035dc7e975c914b5b8b631281

[2022-07-08 01:25] isaaclepes commented on #30
Tested JEI 9.7.0.209 and issue persisted
Saw similar issues reported but different errors in #27

Downgrading to MOU to 1.20.5 and JEI to 1.18.2-9.7.196 has solved the issue for me.

[2022-07-08 01:54] Aerospacesmith commented on #30
Upgrading to JEI 10.1.0.202 works, but some other mods aren't compatible with the new JEI API yet

[2022-07-08 15:45] isaaclepes commented on #30
Just a note:  JEI 10.1.0.202 and MOU 1.20.6 cause an issue where I am kicked for spamming during the 'joining world' phase of world load.  Sticking with MOU 1.20.5/ JEI 10.1.0.196 for now.

[2022-07-08 22:28] ProsperCraft commented on #30
Same issue after connecting to a multiplayer server, the client drops to desktop instantly after connecting.

https://gist.githubusercontent.com/ProsperCraft/531ebe0c6027cff15b2c089677ea88e8/raw/f2a200b45c88fc6a95d106bc4b41344c73e41bec/gistfile1.txt

Had to switch back to lightlevelverlays, I really want this one for TownCraft please fix.

[2022-07-18 16:47] MelanX opened #31 "Crash with Forge 41.0.94+"
This is due to the two breaking changes in Forge.
Version: 1.21.1

[2022-07-21 11:57] Imperiator opened #32 "Error loading ( ... has failed to load correctly )"
![Capture d’écran 2022-07-21 135330](https://user-images.githubusercontent.com/47658318/180208031-ce3c6ab5-c0b3-4892-92b7-82cc45041983.png)
with these mods

![image](https://user-images.githubusercontent.com/47658318/180208116-f6449600-9792-4af7-8b7e-625ee22012d6.png)
in 1.19

[2022-07-22 09:11] Sanastae commented on #32
I have the same issue with the forge version.
Using Forge 41.0.107

[2022-07-22 19:59] IvanPy-Exe opened #33 "toggles graphics settings"
when I press the F7 key or another corresponding button to display the light level, the "camera shake" setting is turned off.

moreoverlays-1.18.15-mc1.16.5

[2022-07-28 17:00] #33 closed

[2022-07-28 17:02] IvanPy-Exe opened #34 "toggles graphics settings together with Optifine"
when I press the F7 key or another corresponding button to display the light level, the "camera shake" setting is turned off.

moreoverlays-1.18.15-mc1.16.5

[2022-07-30 02:34] Epicjii opened #35 "[1.18.2] Searching Inventory with JEI doesn't work but everything else does"
More overlays version - 1.20.5-mc1.18.1
JEI version - 1.18.2-9.7.1.232

I cannot currently search my inventory with this version of more overlays, but everything else works.
this is my log:
https://paste.ee/p/qKDsl

Let me know if you need anymore info!

[2022-07-30 21:15] copygirl opened #36 "Please reconsider CurseForge third-party distributing setting"
I just noticed your mod is not available to download by third-party tools like [packwiz](https://github.com/packwiz/packwiz), which we use for our (currently still private) modpack to provide easy automatic updating. Not having your mod available through official supported means is a detriment to developers and players whose needs are not met by the CurseForge launcher, or are unable to use it at

[2022-07-31 15:29] copygirl commented on #35
Getting the same issue. Here is an excerpt from Epicjii's log that is likely the cause of search not working:
[code]

[2022-08-02 10:12] LegendaryEvenWeeb opened #37 "java.lang.reflect.invocationtargetexception: null error"
i am having issues loading the mod
![image](https://user-images.githubusercontent.com/62778359/182349924-e3acbe41-de83-4306-8da1-64d3dad5bea8.png)
with these mods
![image](https://user-images.githubusercontent.com/62778359/182350184-77d89916-9c79-47a3-a4d1-0f9d10565572.png)

version is 1.19, trying to use the moreoverlays-1.21.1-mc1.19 version of the mod, forge version 41.1.0

edit:
this is what t

[2022-08-03 17:00] WFPhantom commented on #35
I think this is due JEI updating and changing core stuff, maybe if you go to an earlier version of JEI its going to work.

[2022-08-04 09:17] Jayryn commented on #37
**Same error here with `Forge Version 41.1.0` and `Mod Version 1.21.1-mc1.19`**

Details:
[code]
[code]
[code]

[2022-08-04 09:21] Jayryn commented on #37
**The issue is likely caused by this. 1.19 is unplayable with Forge 41.1.0 as of this moment.**

Caused by 1: java.lang.NoClassDefFoundError: net/minecraftforge/client/ConfigGuiHandler$ConfigGuiFactory

[2022-08-04 09:23] Jayryn commented on #37
Also likely much more detailed issue duplicate of #31

[2022-08-04 17:48] Maho-Yoshino commented on #37
yea, but i tried downgrading forge versions but none of them worked for me, so i don't know how i could fix this

[2022-08-05 08:13] Jayryn commented on #37
The issue is that forge had major changes for its mod loading since 41.0.94+ and therefor most mods stopped working for newer forge versions unless being updated -> most common mods like JEI already depend on 41.0.94 which forces you to either use an older version of JEI or wait for mod developers to upgrade to the newer implementations of forge.

**All in all, mod creators will have to adapt thei

[2022-08-05 10:31] Maho-Yoshino commented on #37
i just tried using 41.0.94 and i still had the same error pop up so i don't know what is up anymore with forge

[2022-08-05 10:43] Jayryn commented on #37
Please read correctly what I said.

**These crashes are not bugs or issues with forge but mod owners must upgrade their mods in order to work again.**

I said that forge changed major stuff in 41.0.94 which causes a lot of mods to crash on startup as **these mods have not updated.** (The changes that forge made were necessary and likely to be implemented sometime)
-> Forge for instance changed pac

[2022-08-05 10:46] Jayryn commented on #37
I am currently trying to setup a dev environment to fix this issue with a pull request, but my IDE / Gradle Environment doesn't want to work the way I want it too.

**As of now we are dependent on @r8420 to fix the issue, which I sincerely hope, that he does it shortly.**

[2022-08-05 10:47] Maho-Yoshino commented on #37
so basically i just need to revert to older forge versions for now until this issue is solved

[2022-08-05 10:58] Jayryn commented on #37
**-> I have contacted @r8420 via Email and am waiting for his response.**

Either you use forge versions below 41.0.94 (which is likely not compatible anymore with most updated mods) or you wait for this repository maintainer to update this resource.

**Mods like JEI (Just Enough Items) have already implemented the newer patches and are dependent on 41.0.94+**
(Therefor unusable with its newest up

[2022-08-05 12:22] Jayryn commented on #37
Currently Working on a fix but need to tweak a little as some stuff changed -> most is already finished
-> I will open a PR after I finish

[2022-08-05 12:38] Jayryn commented on #37
@LegendaryEvenWeeb I've got it working but need to fix some minor things like you see in the screenshot below
![image](https://user-images.githubusercontent.com/77808206/183078824-2d78635f-f091-451a-971a-5c24d6fa6d00.png)

[2022-08-05 12:51] Maho-Yoshino commented on #37
nice job there, i tried reverting all my mods to 41.0.93 but JEI doesnt seem to support anything below 41.0.94 anymore cuz for some reason i just keep getting a common_setup error with every version of JEI that is pre-41.0.94, so i guess i wasted a bunch of my time trying that

[2022-08-05 13:00] Jayryn commented on #37
I have no idea how I caused this lighting mesh issue btw, I'll try to fix it though xD
(I normally code plugins instead of mods so this is quite unusual programming stuff for me)

**EDIT:** I already fixed the button configuration, which was bugged -> will now fix lighting mesh and then we'll be ready
![image](https://user-images.githubusercontent.com/77808206/183083390-e6099d0d-0e7a-4a89-b9a8-862

[2022-08-05 13:38] Jayryn commented on #37
@LegendaryEvenWeeb I have it working locally, I will now do a little cleanup of my edits and then open a PR as well as publish it on my fork

[2022-08-05 14:57] Jayryn commented on #37
@LegendaryEvenWeeb Your issue is fixed with #38. We have to wait until @r8420 will merge it.

**You can use my current release for 1.19 which is exactly the same as in the PR.**
https://github.com/drjayy/MoreOverlays-updated/releases/tag/v1.21.2

-> Please leave this issue open so it is used as reference for the PR (aka r8420 will see it)

[2022-08-05 15:02] Jayryn commented on #35
@WFPhantom @copygirl @Epicjii Your issue is fixed with #38. We have to wait until @r8420 will merge it.

**You can use my current release for 1.19 which is exactly the same as in the PR.**
https://github.com/drjayy/MoreOverlays-updated/releases/tag/v1.21.2

-> Please leave this issue open so it is used as reference for the PR (aka r8420 will see it)

[2022-08-05 15:04] Jayryn commented on #32
@Sanastae @Imperiator Your issue is fixed with #38. We have to wait until @r8420 will merge it.

**You can use my current release for 1.19 which is exactly the same as in the PR.**
https://github.com/drjayy/MoreOverlays-updated/releases/tag/v1.21.2

-> Please leave this issue open so it is used as reference for the PR (aka r8420 will see it)

[2022-08-05 15:04] Jayryn commented on #31
@MelanX Your issue is fixed with #38. We have to wait until @r8420 will merge it.

**You can use my current release for 1.19 which is exactly the same as in the PR.**
https://github.com/drjayy/MoreOverlays-updated/releases/tag/v1.21.2

-> Please leave this issue open so it is used as reference for the PR (aka r8420 will see it)

[2022-08-05 19:25] copygirl commented on #35
Will there be a bugfix release for 1.18.2? The PR appears to be targeting 1.19 only.

[2022-08-05 20:00] Jayryn commented on #35
I could make one but don't expect it to be this quickly, I can take a look at it later if you want.
-> Likely the same issues as 1.18.2 is still supported by Forge as well as JEI so they just implement all newer changes

**EDIT:** My dev environment is currently doing some sketchy stuff which means I'm unable to update 1.18.2 right now

BUT

From what I've discovered, I found out that the 1.18.2 F

[2022-08-05 21:53] Jayryn commented on #35
Like Phantom said, you may want to revert to an older version of JEI for now, but I will test it later on.

[2022-08-05 22:05] Maho-Yoshino commented on #37
good job, now we wait for r8420

[2022-08-05 22:06] Maho-Yoshino commented on #37
if you say so i will keep it open for reference btw, happy to help the update reach @r8420, even if it just means keeping this issue open

[2022-08-05 22:16] Jayryn commented on #37
Thanks, you can still use my Mod Download Release with all the fixes as it contains exactly the same as the PR.

Therefor providing you with a functioning mod for you to use in 1.19

[2022-08-05 22:27] Maho-Yoshino commented on #37
already downloaded it, but since it is 12am i am not asking my friend to fire up his server so maybe tomorrow i will try it out

[2022-08-05 22:28] Jayryn commented on #35
@Epicjii and @copygirl you both seem to be using the outdated resource of 1.18.1 for 1.18.2.
I've done some testing and found out that the latest Forge Release works perfectly fine with latest 1.18.2 JEI Release as well as 1.18.2 MoreOverlays-Updated Release

**Please Update your Mod Resources to contain at least:**

- JEI (Just Enough Items) 10.1.3.240 (Latest Forge 1.18.2) [Download JEI 10.1.3.2

[2022-08-05 22:35] Jayryn commented on #37
Please keep me updated if everything works fine. I've played about 3 hours earlier on my Vanilla 1.19 Survival Server which worked perfectly fine.

**Keep in mind that I updated the resource a little earlier to fix a client crash**

[2022-08-05 22:44] Maho-Yoshino commented on #37
my friend has spigot on his server so i will see if that could mess something up, but let's just hope it will work fine

[2022-08-05 22:48] Jayryn commented on #37
Don't worry about spigot, it's still vanilla based and I'm using paperspigot which is just faster Spigot with more fixes and configurations.

Everything is working just fine as Spigot and Paper are trying to be as close to vanilla as possible.

[2022-08-05 23:14] Maho-Yoshino commented on #37
alright then, i gotta say thank you for your contribution to one of the most useful mods to me

[2022-08-06 05:13] copygirl commented on #35
JEI 10 is not supported by a bunch of mods, so we can't use it. It's an **alpha** release so that's a pretty big indication that it shouldn't be used by your average user. It would be nice if MoreOverlays would target a stable version of JEI for 1.18.

We're using `moreoverlays-1.20.5-mc1.18.1.jar`, which is however marked as compatible with `1.18.2` on CurseForge.

[2022-08-06 06:09] Jayryn commented on #35
You may want to try the newer version of MoreOverlays though, as no other mod depends on it

**Please keep in mind that I am not a maintainer of this resource and will not see forward to do it.**

-> The requirements I posted were only for testing purposes, to see if everything worked fine in a close environment.

I can test out several JEI versions later.

[2022-08-06 06:38] copygirl commented on #35
I went ahead and installed Just Enough Items `10.1.3.240` and MoreOverlays-Updated `1.20.6-mc1.18.2` with our current set of mods and I still get an error ("Something went wrong. Tried to load JEI Search Text Field object") and can't use the search field to highlight items. However, I also am missing entire sets of recipe types that don't show up in JEI, presumably due to the API changes in said v

[2022-08-06 07:35] Jayryn commented on #35
@copygirl could you provide a crash log please? **The Full Log (No Snippets please)**

**MoreOverlays-Updated 1.20.6 is dependent on JEI 10.1.0.202+**

I've also tested out some versions of JEI with MoreOverlays and found out that JEI only supports 10.1.0.198+ for Mod Dependency Usage in 1.18.2 by the time that I am writing this.

-> I may test a little stuff and bump the JEI dependency version up

[2022-08-06 08:12] copygirl commented on #35
There is no crash, and the `latest.log`, due to the log spam caused by the JEI incompatibility the file is over 40 MiB and over 390k lines. PolyMC even stops its own logger and warns about disk space usage. The spam seems to boil down to `[mezz.jei.common.util.IngredientSupplierHelper/]: Found a broken recipe, failed to setRecipe with RecipeLayoutBuilder: [...] java.lang.NoSuchFieldError: FLUID` (

[2022-08-06 08:50] Jayryn commented on #35
welp @copygirl, I know what the issue is and its fixed locally but now I'm completely bamboozled why the hell it works in 1.19 xD

**EDIT:** I will publish the resource in a moment

[2022-08-06 09:07] Jayryn commented on #35
@copygirl @Epicjii You issue will be fixed with #39.

-> JEI just thought `**We're going to make renaming changes the newest 1.18.2 versions and revert them back in 1.19**`

**This Resource requires at least**
- Forge 1.18.2 above 40.1.0
- JEI (Just Enough Items) above 10.1.3.238

**You can download the generated resource under**

https://github.com/drjayy/MoreOverlays-updated/releases/tag/v1.20.7

[2022-08-06 11:47] Jayryn commented on #30
JEI doesn't support anything under 10.1.0.198 (1.18.2) for gradle mod dependencies anymore

-> you could only add the jar yourself for temporary version fixes

It is unlikely that anything below 10.1.0.198 will be supported in the future

[2022-08-06 17:15] Jayryn commented on #35
Does everything work for you @copygirl and @Epicjii ?

[2022-08-06 17:22] Jayryn commented on #37
**Is everything working for you?**

I've noticed a little bug when you search for items where amount numbers are grayed out and go to white again

However, this is a minor visual issue which I'll address once I'm back home in 2 days

[2022-08-06 17:36] copygirl commented on #35
@drjayy I can't test at this time, but I do want to note that I can't use JEI 10 with my current modset anyway so even if the search field issue is fixed, JEI is practically unusable. We have to stick to JEI 9.

[2022-08-06 19:42] Jayryn commented on #35
That's sad to hear, I could only provide a short fix for it as I need to import JEI directly instead of loading it from official sources
(JEI themselves don't support modding below 10)

[2022-08-06 20:32] Jayryn commented on #35
Ignore the part above, I've just looked in the wrong place for it xD

I will make a source using JEI 9 as soon as I can, but I'm currently not at home to do it @copygirl

[2022-08-06 21:53] Jayryn commented on #37
@LegendaryEvenWeeb this issue can be closed as the PR is now officially merged

[2022-08-06 21:54] Jayryn commented on #30
Scrap the part above -> I'll open a PR for JEI 9 Support of 1.18 in the next days

[2022-08-06 21:54] Jayryn commented on #31
@MelanX this issue can be closed as the PR is now officially merged

[2022-08-06 21:55] Jayryn commented on #32
@Imperiator this issue can be closed as the PR is now officially merged

[2022-08-06 21:57] #31 closed

[2022-08-06 21:57] Jayryn commented on #34
Issue is easily fixed with changes made in your minecraft controls -> either change F7 Key by MoreOverlays-Updated or the Camera Shake

Changing the default Hotkey for this is not ideal and won't likely be changed

[2022-08-06 21:59] Maho-Yoshino commented on #37
alright, thanks for the help

[2022-08-06 21:59] #37 closed

[2022-08-06 22:10] r8420 commented on #35
I'm working on it.

[2022-08-06 23:42] r8420 commented on #30
I've released 2 versions that hopefully fixes this issue:
- MoreOverlays 1.20.8 (Alpha): for JEI 10.1.0.228 or higher
- MoreOverlays 1.20.7: for JEI 9.7.0.229 or higher (but not JEI 10)

[2022-08-06 23:45] r8420 commented on #32
Should be fixed in [MoreOverlays 1.21.2](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3921860)

[2022-08-06 23:48] r8420 commented on #34
You're not using the latest version for 1.16.5.
The latest version of More Overlays Updated is [[1.16.5] MoreOverlays 1.18.18](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3639017)

[2022-08-06 23:49] r8420 commented on #35
I've released 2 versions that hopefully fixes this issue:

MoreOverlays 1.20.8 (Alpha): for JEI 10.1.0.228 or higher
MoreOverlays 1.20.7: for JEI 9.7.0.229 or higher (but not JEI 10)

[2022-08-06 23:52] r8420 commented on #37
Should be fixed in [MoreOverlays 1.21.2](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3921860)

[2022-08-06 23:52] r8420 commented on #31
Should be fixed in [MoreOverlays 1.21.2](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3921860)

[2022-08-07 09:13] #34 closed

[2022-08-08 15:38] #35 closed

[2022-08-08 15:38] #32 closed

[2022-08-08 15:38] #30 closed

[2022-08-08 15:41] r8420 commented on #29
The JEI color settings customization is now available on the latest version.

[2022-08-08 15:41] #29 closed

[2022-08-08 15:41] r8420 commented on #26
Should be fixed in the latest version

[2022-08-08 15:42] r8420 commented on #18
I added a toggle to disable the JEI search in the latest version.

[2022-08-08 15:42] #18 closed

[2022-08-08 15:42] #6 closed

[2022-08-08 16:53] drjayy opened #40 "Incompatibility with InventoryProfilesNext concerning Visual Glitches"
**I've noticed that the item amount flickering in 1.19, when searching for items, still exists.**
This Issue should be fixed with Commit 2236dd5, but doesn't seem to be fixed.
(Couldn't test it earlier)

**Version:** `1.21.3 (directly build from latest commits)`

**Issue Explanation Video**
[Preview of 1.19 Amount Issue](https://user-images.githubusercontent.com/77808206/183471617-b1e19dd6-8045-45

[2022-08-08 18:00] r8420 commented on #40
Oh that's weird. I thought you meant something else. I'm not able to replicate this.
Versions I'm using:
moreoverlays-1.21.3-mc1.19.jar,
jei-1.19.1-forge-11.2.0.244.jar
Forge 42.0.9 on 1.19.1

[2022-08-08 18:14] r8420 commented on #40
@drjayy
I'm also unable to replicate it on:
moreoverlays-1.21.3-mc1.19.jar,
jei-1.19-forge-11.1.1.239.jar
Forge 41.0.98 for 1.19

[2022-08-08 18:21] Jayryn commented on #40
I'll check my version numbers later and look if my issue still persists in a closed environment. Thanks for helping though

[2022-08-08 18:22] Jayryn commented on #40
This may be related to some kind of Minecraft setting or texture pack aswell

-> will test this later on

[2022-08-08 20:02] Jayryn commented on #40
I can't reproduce this issue on Forge 1.19.2 anymore (also quarantined every other mod -> likely interference)

This is likely a compatibility issue with another mod, I have an idea which one but I'll try it out in a second in quarantine containers.

**EDIT:** @r8420 This is a compatibility issue with [InventoryProfilesNext](https://github.com/blackd/Inventory-Profiles), I am unsure what causes th

[2022-08-08 21:10] Jayryn commented on #40
I've noticed that there is an issue with Item Amount Visual Glitches when using both [InventoryProfilesNext](https://github.com/blackd/Inventory-Profiles) and MoreOverlays-Updatedwhen using the search item container function for JEI Search by MoreOverlays.

InventoryProfilesNext [[CURSEFORGE]](https://www.curseforge.com/minecraft/mc-mods/inventory-profiles-next) is a widely known inventory additio

[2022-08-08 22:10] r8420 commented on #40
I see, when setting highlight_clicking_slot to false in the InventoryProfilesNext config the issue doesn't occur.
![image](https://user-images.githubusercontent.com/26418513/183523142-2d2e687d-865d-4c2e-b3fb-34d05070f571.png)

[2022-08-08 22:14] Jayryn commented on #40
Thanks, I'll try to reproduce.

[2022-08-08 22:19] Jayryn commented on #40
Where exactly did you find this setting, I can't seem to locate it

**EDIT:** Ignore this, I'm just blind

[2022-08-08 22:21] Jayryn commented on #40
Thank you, this fixed the issue :)

[2022-08-08 22:21] #40 closed

[2022-08-09 06:09] NightSharp commented on #26
There still exists some mismatch in the bottom
![屏幕截图 2022-08-09 140753](https://user-images.githubusercontent.com/9748063/183577053-5a3f7d77-e3e4-40b3-9ddc-2faae8e38653.png)

[2022-10-11 23:21] xFirefalconx opened #41 "Bug report - floating point numbers (1.16.5)"
Hi,
there's an issue with the overlay when playing on blocks far away from the spawn. I believe it's a floating point number accuracy issue - if you just layer each X next to another from 0, it might be hard to calculate for the game at such faraway places.
I hope you can fix this. I'm playing on 1.16.5 and discovered the issue there. Maybe it also appears on other versions, feel free to add where

[2022-10-19 01:00] DDriggs00 commented on #36
+1. This is a serious inconvenience both to people using packwiz and similar software, as well as those with privacy concerns about the Overwolf Launcher's data harvesting policies, as well as people using linux.

[2022-11-03 12:07] Lucky-56 opened #42 "[Log] Mixin config moreoverlays.mixin.json does not specify "minVersion" property"
Just annoying in log

**Forge:** 43.1.47
**Mod Version:** 1.21.3

[2022-11-06 09:25] xXjojojXx opened #43 "Mod moreoverlays only supports jei 9.7.0.229 or above, and below 10.0.0.0 Currently, jei is 10.2.1.283"
---- Minecraft Crash Report ----
// Hi. I'm Minecraft, and I'm a crashaholic.

Time: 11/6/22, 10:21 AM
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at net.minecraftforge.logging.CrashReportExtender.dumpModLoadingCrashReport(CrashReportExtender.java:55) ~[forge-1.18.2-40.1.84-universal.jar%23203!/:?] {re:classloading}
	at net.minecraftforge.client.loadin

[2022-11-13 22:07] xXjojojXx commented on #43
?

[2022-11-25 00:15] r8420 commented on #43
Please use More Overlays 1.20.10 when using JEI 10. [https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3924737](https://www.curseforge.com/minecraft/mc-mods/more-overlays-updated/files/3924737)

[2022-11-25 00:19] #43 closed

[2022-11-28 11:53] r8420 opened #44 "Lag when using search functionality on large modpacks"
I noticed when using this mod in a large modpack with 500+ mods that some search terms cause a bit of UI lag. This was on 1.18.2 but it should affect other versions as well.

[2022-11-30 01:12] xFirefalconx opened #45 "Compatibility request: Display "Torchmaster" erasure radius"
There's a mod called torchmaster that lets you place one huge torch that blocks monster spawns for a wider radius. It would be awesome to have an implementation to see its effective radius on overlay.
See here: https://www.curseforge.com/minecraft/mc-mods/torchmaster

idea a) remove X where the torchmaster torch is working
idea b) color X in... green? blue? where the torchmaster torch is working